@charset"utf-8";
/*CSSDocument*/

a{text-decoration:none;}
a, button, span, input, textarea {display: inline-block;}
h1,h2,h3,h4,h5{font-weight:normal;}
span{display:block;}
img{border:none;}
textarea{resize:none;}
input,textarea{outline:none;display:block;}
a,button{outline:none;cursor:pointer;}
li{list-style:none;}
button{background:none;border:none;}
*{
    margin:0;
    padding:0;
}
a,button,i,textarea{
    -webkit-appearance:none;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
img{
    border:none;
    max-width:100%;
    height:auto;
}
.container{
    width:100%;
    max-width:1200px;
    padding: 0px 15px;
    margin:0 auto;
    min-width:320px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {background:#281567;}

.wrap-header-right {
    padding-left: 40px;
    width: 50%;
    display: flex;
    justify-content: right;
}

.wrap-header-right a {padding: 5px 10px; color: #fff;}
.wrap-header-right a:first-child {padding-left:35px;}
.wrap-header-right span {padding:5px; color: #fff;}
.icn_enter {position:relative;}
.icn_enter:before {content: ''; position: absolute; background: url(../img/icn_enter.png) no-repeat 0; width: 18px; height: 18px; left: -25px; top: 0;}

.tel {
    position: relative;
    margin-left: 0px;
    padding: 11px 0px 0px 0px ;
    font-size:13px;
}

.tel:before {
    content: '';
    position: absolute;
    background: url(../img/tel.png) no-repeat top left;
    width: 28px;
    height: 28px;
    left: -34px;
    top: 5px;
}


.schedule {
    position: relative;
    margin-left: 0px;
    padding: 11px 0px 0px 0px ;
}

.schedule:before {
    content: '';
    position: absolute;
    background: url(../img/clock.png) no-repeat top left;
    width: 22px;
    height: 22px;
    left: -34px;
    top: 9px;
}

.email {
    position: relative;
    margin-left: 0px;
    padding: 11px 0px 0px 0px;
    font-size:13px;
}

.email:before {
    content: '';
    position: absolute;
    background: url(../img/mail.png) no-repeat top left;
    width: 28px;
    height: 28px;
    left: -38px;
    top: 5px;
}

.adress {padding-left:38px;}
.adress_icn {position: relative;padding: 11px 0px 0px 0px;}
.adress_icn:before {
    content: '';
    position: absolute;
    background: url(../img/adress.png) no-repeat top left;
    width: 28px;
    height: 28px;
    left: -38px;
    top: 5px;
}

.wrap-header {
    display: flex;
    font-size: 16px;
    color: #4a4848;
}

.wrap-header-left ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.wrap-header-left a {
    color: #fff;
    padding: 5px 10px;
}
.header a:hover {background:#6f54c6;}

.wrap-header-left {
    width: 75%;
    padding: 0 10px;
}

.wrap-logo {
    padding-top: 15px;
    display: flex;
    margin-right: 35px;
}

.wrap-logo p {
    font-size: 20px;
    font-style: italic;
    padding-top: 8px;
    padding-left: 5px;
    margin:0;
}
.wrap-logo-descript {
  padding-top: 16px;
  width: 40%;
}
.wrap-logo-descript p {
  background: #f5b11e;
  margin: 0 5px 0 0;
  padding: 2px 5px;
  color: #fff;
  line-height: 1;
  display: inline-block;
}

.request {
  color: #f66543;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px dashed #fbbcb1;
}
.request:hover {text-decoration: none; border-bottom: none;}
/*
.request:before {
    content: '';
    position: absolute;
    background: url(../img/call-back.png) no-repeat top left;
    width: 25px;
    height: 25px;
    left: -34px;
    top: 15px;
}*/

.input-search {
  border: none;
  border-bottom: 2px solid;
  color: #6a46de;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  height: 32px;
  width: 90%;
  background: #FFF;
  box-sizing: border-box;
  padding-left: 15px;
  line-height: 32px;
  display:inline-block;
}

.button-search {
  background: url(../img/search.png) no-repeat top center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  float: right;
  margin: 5px 0;
}

.logo-call-search {
    display: flex;
}

.wrap-button-search {
    position: relative;
    margin-top:10px;
}

.entrance-text {
    color: black;
    font-weight: 500;
    position: relative;
    margin-left: 0px;
    padding: 51px 0px 0px 0px;
    text-decoration: underline #666666;
    margin-left: 27px;
}

.entrance-text:before {
    content: '';
    position: absolute;
    background: url(../img/entrance.png) no-repeat top left;
    width: 50px;
    height: 51px;
    left: -8px;
    top: 0px;
}

.basket-text {
    display: block;
    position: relative;
    color: #372345;
    margin-left: 0px;
    padding: 52px 0px 0px 0px ;
}

.basket-text:before {
    content: '';
    position: absolute;
    background: url(../img/basket.png) no-repeat top left;
    width: 51px;
    height: 53px;
    left: 2px;
    top: 0px;
}

.entrance-basket {
    width: 30%;
    padding-top: 15px;
    text-align:right;
    flex-grow:1;
}
.entrance-basket p {line-height: 1; padding:0; margin:0;}

.request-call {}

.basket {
  display: flex;
  padding-top: 15px;
  margin-left: 15px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position:relative;
}
.basket-link {min-width: 72px;min-height: 80px;position: relative;}

.basket-counter {
  position: absolute;
  top: 18px;
  right: 27px;
  color: #fff;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.basket-price {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #fff;
}

.menu ul {
    text-align: center;
    margin-bottom:0;
}

.menu > ul > li {
    display: inline-block;
}

.block-menu {
    background: #f6b932;
    margin-top: 18px;
}

.menu-list{
    color: #000;
    position: relative;
    padding: 10px 50px 10px 50px;
    display: inline-block;
}

.menu-list:before {
    content: '◆';
    position: absolute;
    width: 11px;
    height: 11px;
    left: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
}



.navbar {position:fixed; top:0; width:100%; display:none; z-index:1;}
#navbarTogglerDemo03 {position:fixed; width:300px; z-index:1; background:#F1F0ED; left:-300px; transition: .3s ease-in-out; top: 0; height: 100%; padding:20px; opacity:1; display:block;}
#navbarTogglerDemo03.show {transform: translateX(100%);}
.navbar-close {
  float:right;
  font-size: 28px;
  line-height: 1;
}


.banner {
    margin-top: 11px;
    padding: 0;
    /*background: url(../img/banner.png) no-repeat center center;*/
    text-align: center;
    background-size: cover;
}
#carouselbanner .carousel-item{
  min-height: 280px;
}
.banner-img {background-position: center center; background-repeat: no-repeat; min-height:280px; background-size:cover; width:100%; display:flex;}
.banner-img .container {align-self:center;}
.banner1 {background-image: url("../img/banner.png");}
.banner2 {background-image: url("../img/banner.png");}
.banner3 {background-image: url("../img/banner.png");}

#carouselbanner  .carousel-indicators li {background-color: rgba(231, 3, 255, 0.5); width:20px; height:20px; border-radius: 50%;}
#carouselbanner  .carousel-indicators li:hover {cursor:pointer;}
#carouselbanner .carousel-indicators .active {background-color: #fff;}

.wrap-banner {
    font-size: 42px;
}

.advantage {
    padding: 15px 20px;
    background: #f5f4ef;
    margin-top: 11px;
}

.wrap-advantage {
    display: flex;
    flex-wrap: wrap;

}

.advantage-item {
    width: 20%;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position:relative;
}

.advantage-item:hover {
  background: rgba(0,0,0,0.05);
}

.advantage-item:hover .advantage-popup {
  display: block;
}

.advantage-popup {
  content: '';
  position: absolute;
  left: 20%;
  bottom: -50%;
  z-index: 1;
  background: rgba(255,255,230,0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
  display: none;
}

.advantage-item_icon {
    width: 62px;
    height: 62px;
    background: #f66543;
    border-radius: 31px;
}

.advantage-item p {
    width: calc(100% - 62px);
    padding-left: 10px;
}

.wrap-top-left-top-left h3 {
    background-color: rgba(106,70,222,0.7);
    color: #fefefe;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 12px 10px;
}

.wrap-top-left-top-left {
    margin-top: 13px;
    width:405px;
    height:466px;
    position: relative;
}

.wrap-top-left-top-right h3 {
    background-color: rgba(246,185,50,1);
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 12px 10px;
}

.wrap-top-left-top-right {
    margin-top: 13px;
    margin-left: 31px;
    width:406px;
    height:467px;
    position: relative;
}

.wrap-top-left-top {
    display: flex;
}

.wrap-top-left-bottom h3 {
    background-color: rgba(241,119,87,0.8);
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 10px;
}

.wrap-top-left-bottom {
    margin-top: 20px;
    height: 310px;
    position: relative;
}

.wrap-top-right h3 {
    font-size: 21px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    text-align: center;
    padding: 15px 10px;
}

.wrap-top-right {
    margin-top: 13px;
    margin-left: 27px;
    width: 300px;
    height: 797px;
    position: relative;
}

.wrap-top {
    display: flex;
}

.wrap-products a {
    overflow: hidden;
}
.wrap-products img {
    width: 100%;
    min-height: 100%;
}

.wrap-bottom-left1 {
    font-size: 0;
    padding-top: 14px;
    width: 301px;
    height: 350px;
    position: relative;
}

.wrap-bottom-left1 span {
    font-size: 29px;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 15px 10px;
}

.wrap-bottom-left2 {
    width: 301px;
    height: 452px;
    position: relative;
    margin-top: 10px;
}

.wrap-bottom-left2 span {
    font-size: 29px;
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    bottom: 10px;
    padding: 15px 10px;
}

.wrap-bottom {
    display: flex;
}

.wrap-bottom-left{
    width: 301px;
    font-size: 0;
}

.wrap-bottom-right-top {
    display: flex;
}

.wrap-bottom-right-top-left h3 {
    background-color: rgba(241,190,70,0.9);
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 10px;
}


.wrap-bottom-right-top-left {
    margin: 14px 30px 20px 30px;
    position: relative;
    width: calc(50% - 0px);
}

.wrap-bottom-right-top-right h3 {
    background-color: rgba(241,120,90,1);
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 15px 10px;
}

.wrap-bottom-right-top-right {
    margin-top: 14px;
    margin-bottom: 19px;
    position: relative;
    width: calc(50% - 0px);
}

.wrap-bottom-right {
    width: 100%;
}

.wrap-bottom-right-bottom h3 {
    font-size: 125px;
    color: #e60f2f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 0px 0px 65px 85px;
}

.wrap-bottom-right-bottom {
    height: 305px;
    margin: 0px 0px 0px 30px;
    position: relative;
}

.block-products{
    padding-bottom: 70px;
}

.about_company-title {
    text-align: center;
    font-family:'NautilusPompilius';
    font-size: 40px;
}

@font-face{
    src:url(../fonts/NautilusPompilius.otf);
    font-family:'NautilusPompilius';
}

.wrap-about_company-text span {
    font-size: 13px;
}

.wrap-about_company-text {
    display: flex;
}

.read_more {
  color: #f66543;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
  border: 4px #f66543 solid;
  font-weight: bold;
  padding: 20px 55px;
}

.read_more:hover {
  background: #f66543;
  color:#fff;
  text-decoration:none;
}

.about_company{
    background: #f5f4ef;
}

.wrap-about_company {
    padding: 40px 0 0;
}
.wrap-about_company-left, .wrap-about_company-right {width: 50%; text-align:center;}
.wrap-about_company-left p, .wrap-about_company-right p {text-align:left; text-indent: 20px;}
.wrap-about_company-left {align-self: flex-end;}
.wrap-about_company-right {padding-left:20px;}

.wrap-about_company-text {
    padding-top: 40px;
}
.wrap-about_company-fabrik {
    padding: 20px;
    margin-bottom: 30px;
    background: url("../img/3.png") 100% 100% no-repeat #f6b932;
}
.wrap-about_company-fabrik .read_more {
  color:#000;
  border-color: #000;
  margin-bottom:0;
}

.become_partner {
    background-color: #f6b932;
    padding: 15px 0;
    background: url("../img/bg_partner.png") no-repeat top center;
}

.wrap-become_partner p {margin:0;}
.wrap-become_partner span {
    vertical-align: middle;
    font-size: 56px;
    display: inline-block;
    line-height: 1;
}

.become_partner-button {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-width: 3px;
    border-color: #f66543;
    border-style: solid;
    background-color: #f66543;
    text-align: center;
    line-height: 1;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 40px;
}

.become_partner-button:hover {
    color: #fff;    
    background: none;
    text-decoration:none;
}

.become_partner_form {padding:40px;}
.become_partner_submit {padding-top:20px;}

.title-reviews{
    font-size: 40px;
    font-family:'NautilusPompilius';
}

.wrap-reviews-certificates {
    padding: 70px 0;
    display: flex;
}

.reviews-control-color-left {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.reviews-control-color-right {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.name {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-left: 32px;
    padding: 10px 0px 0px 0px ;
    line-height:18px;
}

.name:before {
    content: '';
    position: absolute;
    background: url(../img/4.png) no-repeat top center;
    width: 46px;
    height: 46px;
    left: -48px;
    top: 9px;
    background-size: contain;
}

.date {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-left: 32px;
    padding: 10px 0px 0px 0px ;
}

.date:before {
    content: '';
    position: absolute;
    background: url(../img/5.png) no-repeat top left;
    width: 28px;
    height: 28px;
    left: -32px;
    top: 9px;
}

.comments-suggestions {
    width: 50%;
    height:361px;
}

.name-date {
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
}

.comment {
    font-size: 16px;
    color:#fff;
    position:relative;
}
.comment::after {
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-top: 10px solid #8b7bcd;
    left: 20px;
    bottom: -35px;
    content: '';
    position: absolute;
}

.further{
    font-style: italic;
    font-size: 16px;
    margin-left: 10px;
    text-align:right;
}
.further a {color: #fff; border-bottom: #fff 1px solid; text-transform:uppercase;}
.further a:hover {text-decoration:none;}

.wrap-comments-suggestions {
    padding: 25px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #8b7bcd;
    width: 75%;
}

.title-reviews {
    text-align: center;
    margin-bottom: 34px;
}

.all_reviews {
    color: #f66543;
    border: 4px #f66543 solid;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 280px;
    padding: 20px 55px;
    text-align: center;
    line-height: 56px;
    margin: 35px auto;
    line-height: 1;
    display: block;
}
.all_reviews:hover {
    background: #f66543;
    color: #fff;
    text-decoration: none;
}

.all_certificates {
    color: #f66543;
    border: 4px #f66543 solid;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 280px;
    padding: 20px 55px;
    text-align: center;
    line-height: 56px;
    margin: 35px auto;
    line-height: 1;
    display: block;
}

.all_certificates:hover {
    background: #f66543;
    color: #fff;
    text-decoration: none;
}

.wrap-certificates {
    padding: 10px;
    margin-left: 10px;
}

.wrap-certificates-img img{
    padding: 0px 12px 0 12px;
}

.title-information {
    text-align: center;
    font-size: 50px;
    font-family:'NautilusPompilius';
    margin-bottom: 50px;
}

.menu-info ul {
    text-align: center;
}

.menu-info li {
    vertical-align: top;
    display: inline-block;
    padding: 10px 70px 10px 70px;
}

.menu-info a{
    font-size: 21px;
    color: #000;
    position: relative;
    margin-left: 0px;
    padding: 5px 0px 5px 0px ;
}

.menu-info a:before {
    content: '';
    position: absolute;
    background: url(../img/9.png) no-repeat top left;
    width: 11px;
    height: 11px;
    left: -74px;
    top: 13px;
}

.menu-info {
    border: #8b7bcd 1px solid;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(94,70,140,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(94,70,140,1);
    box-shadow: 2px 2px 10px 0px rgba(94,70,140,1);
}



.menu-info li:first-child a:before{
    display: none;
}

.wrap-information-right {
    width: calc(100% - 466px);
    padding-bottom: 66px;
    position: relative;
}

.wrap-info {
    display: flex;
    justify-content: space-between;
}

.further-arrival {
    color: #000;
    border-bottom: #000 1px solid;
    font-style: italic;
    font-size: 17px;
    margin-left: 10px;
}

.read_news {
    position: absolute;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    background: #f66543;
    width: 350px;
    height: 56px;
    text-align: center;
    line-height: 59px;
    margin-top: 0px;
    bottom: 0;
    right: 0;
}

.arrival-date {
    font-size: 21px;
    color: #4e4e4e;
}

.arrival-title{
    padding-top: 8px;
    font-size: 19px;
    font-style: italic;
}

.wrap-information-left {
    min-height: 354px;
    max-width: 466px;
}

.new-arrival {
    margin-top: 33px;
    padding: 11px 26px 20px 27px;
    border: #8b7bcd 1px solid;
}

.wrap-information-right {
    margin-left: 33px;
}

.new-arrival p{
    padding-top: 28px;
}

.wrap-information img{
    display: block;
    height: 100%;
    object-fit: cover;
}

.information {
    background: #f5f4ef;
}

.wrap-information {
    padding: 70px 0;
}

.swiper-container {
  width: 100%;
  height: 250px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.subscribe {
    background: url("../img/bg_partner.png") repeat top center #f6b932;
    padding: 40px 0;
}

.subscribe-button {
    color: #000;
    border: 4px #000 solid;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 47px;
    display: inline-block;
    box-sizing: border-box;
}
.subscribe-button:hover {
  background: #f66543;
  border: 4px #f66543 solid;
  color: #fff;
  text-decoration:none;
}

.wrap-subscribe input {
    font-weight: bold;
    background: #ffffff;
    font-size: 21px;
    color: #000;
    height: 50px;
    width: 550px;
    border: #8b7bcd 1px solid;
    padding: 0 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.wrap-subscribe p {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

input::-webkit-input-placeholder {color: #000;}
input::-moz-placeholder          {color:#000;}
input:-moz-placeholder           {color:#000;}
input:-ms-input-placeholder      {color:#000;}

.wrap-subscribe{
  text-align: center;
}

.wrap-footer-top1 {
    line-height: 30px;
    font-size: 25px;
    color: #FFFFFF;
    text-align:right;    
}

.footer_link {
    color: #FFFFFF; text-decoration:none;
}

footer {
    background: #281567;
}

.call_me {
    color: #f66543;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline #f66543;
}

.wrap-footer-top1 span {
    margin: 25px 0;
}

.wrap-footer-top {
    display: flex;
    justify-content: space-between;
}

.wrap-footer-top2 a{
    color: #FFFFFF;
}

.wrap-footer-top  li {margin-bottom:10px; line-height:1; font-size: 12px;}

.service-about-customers {
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1;
}

.wrap-footer {
    padding-top: 30px;
}

.wrap-footer-top3 {
    min-width: 270px;
    text-align:right;
    color: #FFFFFF;
    font-size:14px;
}

.social_img {
    padding: 5px 0;
    margin-bottom: 20px;
}
.social_img a {display: inline-block;overflow: hidden;height: 38px;width: 40px;background: url('../img/social.png') no-repeat;}
.social_img a:hover {background: url('../img/social_hover.png') no-repeat;}

.social_img .vk, .social_img .vk:hover {background-position: 0 0;}
.social_img .fc, .social_img .fc:hover {background-position: -44px 0;}
.social_img .in, .social_img .in:hover {background-position: -92px 0;}
.social_img .ok, .social_img .ok:hover {background-position: -140px 0;}
.social_img .yt, .social_img .yt:hover {background-position: -186px 0;}
.social_img .tw, .social_img .tw:hover {background-position: -232px 0;}

._email {margin-bottom: 20px;}

.tel_small {display:inline-block; font-size:16px;}

.footer_schedule {font-size:16px; line-height:20px; margin: 15px 0;}

.copyright {
    padding: 0;
    font-size: 12px;
    color: #FFFFFF;
    line-height:15px;
}

.seo-text {
    font-size: 12px;
    color: #655792;
    padding: 20px 0;
    line-height:16px;
}

.sub-menu{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 30px 15px 30px;
    background: #FFF;
    z-index: 16; /* li indicators 15 %$# */
    display:none;
}

.title-sub{
    font-size: 33px;
    color: #f79d2a;
}

.menu li:hover .sub-menu{
    display: block;
}

.call-hidden {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    background: #f66543;
    width: 310px;
    height: 56px;
    text-align: center;
    line-height: 59px;
    margin-top: 0px;
}

.field {
    margin-bottom: 30px;
    background: #ffffff;
    font-size: 17px;
    color: #000;
    height: 55px;
    width: 307px;
    border: #f6b932 2px solid;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-call {
    border: #f6b932 2px solid;
}

.form-call {
    padding: 30px;
}

.all_goods-left {
    width: 317px;
    display: flex;
    justify-content: space-between;
}

.all_goods-left a{
    line-height: 1;
    color: #515151;
    font-size: 15px;
    margin-left: 15px;
}

.all_goods-left .main a{
    font-weight:bold;
    margin: 12px 0 0;
}

.all_goods {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

.product-week {
    line-height: 38px;
    color: #fff;
    font-size: 21px;
    background: #6a46de;
    width: 150px;
    height: 40px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.name-product {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
}

.wrap-product_week {
    display: flex;
}

.all_goods-title {
    text-align: left;
}

.all_goods-right {
    width: 430px;
}

@media (max-width: 1200px) {
    .wrap-products{
        justify-content: center;
        flex-wrap: wrap;
    }
    .wrap-top{
        justify-content: center;
        flex-wrap: wrap;
    }
    .wrap-bottom {
        justify-content: center;
        flex-wrap: wrap;
    }
    .wrap-bottom-right-bottom {
        width: calc(100% - 30px);
    }
}



@media (max-width: 1174px) {
    .advantage-item {
        padding-right: 0;
    }

    .schedule:before {
        left: -25px;
    }

    .wrap-header {
        font-size: 14px;
    }
    .wrap-certificates-img img {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .wrap-about_company-text span {
        font-size: 16px;
    }
    .title-reviews {
        font-size: 40px;
    }
    .comment {
        font-size: 17px;
    }
    .name {
        font-size: 17px;
    }
    .date {
        font-size: 17px;
    }
    .certificates {
        width: 100%;
    }
    .title-reviews {
        width: 100%;
    }
    .wrap-certificates-img{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
    }
    .wrap-reviews-certificates {
        flex-wrap: wrap;
    }
    .comments-suggestions {
        width: 100%;
        height: unset;
    }
    .menu-info li {
        padding: 10px 40px 10px 40px;
    }
    .menu-info a:before {
        left: -46px;
    }
}



@media (max-width: 1023px) {
    .wrap-products{
        justify-content: center;
        flex-wrap: wrap;
    }
    .advantage {
        padding: 15px 0px;
    }
    .advantage-item p {
        padding-left: 3px;
    }
    .menu-info li {
        padding: 10px 30px 10px 30px;
    }
    .title-information {
        font-size: 40px;
    }
    .wrap-footer-top2 a {
        font-size: 14px;
    }
    .wrap-footer-top1 {
         font-size: 18px;
     }
}

@media (max-width: 939px) {
    .wrap-header {
        flex-wrap: wrap;
    }
    .wrap-header-left {
        width: 75%;
    }
    .wrap-header-right {
        width: 25%;
    }
    .wrap-logo p {
        font-size: 16px;
    }
    .request-call {
        margin-left: 0;
        white-space: nowrap;
    }
    .entrance-text {
        margin-left: 18px;
    }
    .advantage-item {
        width: 33%;
        justify-content: center;
    }
    .wrap-advantage {
        justify-content: center;
    }
    .wrap-top-left-top-right {
        margin-left: 0px;
    }
    .wrap-top-right {
        margin-left: -2px;
    }
    .wrap-bottom-right-top-left {
        margin: 13px 16px 19px 0px;
    }
    .wrap-bottom-right-bottom {
        width: 100%;
        margin: -1px 0px 0px 0px;
    }
    .wrap-about_company {
        padding: 38px 0px;
    }
    .wrap-about_company-right span {
        margin-bottom: 26px;
    }
    .wrap-about_company-left span {
        margin: 20px 0px 25px 0px;
    }
    .wrap-information {
        padding: 52px 0;
    }
    .wrap-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrap-information-right {
        width: 100%;
    }
    .wrap-subscribe p {
        font-size: 19px;
        padding-top: 3px;
    }
    .wrap-subscribe input {
        width: 430px;
    }
    .subscribe-button {
        font-size: 17px;
    }
    .subscribe {
        padding: 27px 0;
    }
}

@media (max-width: 735px) {
  .block-menu {display:none;}
  .navbar {display: flex;}
  
    .schedule {
        display: none;
    }
    .wrap-header-left {
        justify-content: space-around;
    }
    .wrap-header-right {
        padding: 11px 0px 0px 0px;
    }
    .wrap-logo p {
        display: none;
    }
    .input-search {
        display: none;
    }
    .button-search {
        display: none;
    }
    .request:before {
        display: none;
    }
    .request {
        margin-left: 0px;
    }
    .entrance-basket {
        padding-top: 25px;
        width:50%;
    }
    .wrap-logo-descript{
      display:none;
    }
    
    .menu > ul > li {
        padding: 10px 20px 10px 20px;
    }
    .menu-list:before {
        display: none;
    }
    .advantage-item {
        display: inline-block;
    }
    .wrap-top-left-top {
        flex-wrap: wrap;
    }
    
    .wrap-products a {
      width:100%;
    }
    .wrap-products img {
        min-height: 50%;
    }
    .wrap-top-left-top {
        justify-content: center;
    }
    .wrap-top-left-bottom {
        height: unset;
        bottom: 4px;
    }
    .wrap-top-left-bottom h3 {
        bottom: 4px;
    }
    .wrap-top-right {
        display: none;
    }
    .wrap-bottom-left {
        display: none;
    }
    .wrap-bottom-right-top-left h3 {
        padding: 3px 10px;
        font-size: 14px;
    }
    .wrap-bottom-right-top-right h3 {
        padding: 4px 10px;
        font-size: 14px;
    }
    .wrap-bottom-right-top-left h3 {
        bottom: 4px;
    }
    .wrap-bottom-right-bottom h3 {
        font-size: 68px;
        bottom: -46px;
        padding: 0px 0px 68px 27px;
    }
    .wrap-bottom-right-bottom {
        height: unset;
    }
    .block-products {
        padding-bottom: 10px;
    }
    .about_company-title {
        font-size: 34px;
    }
    .wrap-about_company-left {
        display: none;
    }
    .wrap-about_company-text {
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .wrap-about_company-right{width: 100%;}
    .wrap-about_company-right img {
        display: none;
    }
    .wrap-about_company-right span {
        margin: 20px;
    }
    .wrap-reviews-certificates {
        padding: 38px 0;
    }
    .title-reviews {
        margin: 34px 0;
    }
    .wrap-certificates {
        margin-left: unset;
    }
    .menu-info li {
        padding: 10px 17px 10px 17px;
    }
    .wrap-information-right {
        margin-left: unset;
    }
    .menu-info a:before {
        display: none;
    }
    .title-information {
        margin-bottom: 20px;
    }
    .wrap-subscribe {
        justify-content: center;
        flex-wrap: wrap;
    }
    .wrap-footer-top {
        flex-wrap: wrap;
    }
    .wrap-footer-top1 {width: 50%;}
    .wrap-footer-top3 {width: 50%;}
    .wrap-subscribe input {width:100%; margin-bottom:20px;}
}


@media (max-width: 413px) {
    .wrap-header-left {
        justify-content: space-between;
    }
    .advantage-item {
        width: 42%;
    }
    .advantage-item_icon {
        margin-left: 28px;
    }
    .advantage-item p {
        text-align: center;
    }
    .wrap-bottom-right-bottom h3 {
        font-size: 50px;
    }
    .wrap-about_company-left {
        max-width: 100%;
    }
    .read_more {
        font-size: 18px;
    }
    .wrap-about_company-right span {
        margin: 20px auto;
    }
    .read_more {
        width: 100%;
    }
    .become_partner-button {
        width: 100%;
    }
    .wrap-reviews-certificates {
        padding: 0;
    }
    .date {
        font-size: 14px;
    }
    .name {
        font-size: 14px;
    }
    .wrap-comments-suggestions {
        padding: 2px 12px 0 12px;
    }
    .comment {
        font-size: 14px;
    }
    .further {
        font-size: 15px;
    }
    .all_reviews {
        font-size: 16px;
        width: 100%;
        margin: 20px auto;
    }
    .title-reviews {
        font-size: 34px;
    }
    .wrap-comments-suggestions {
         margin-right: unset;
    }
    .all_certificates {
        font-size: 17px;
        width: 100%;
    }
    .title-information {
         font-size: 34px;
     }
    .wrap-information {
        padding: 29px 0;
    }
    .wrap-information img {
        height: unset;
    }
    .wrap-information-left {
        min-height: unset;
    }
    .menu-info a {
        font-size: 14px;
    }
    .arrival-title {
        font-size: 16px;
    }
    .arrival-date {
        font-size: 18px;
    }
    .new-arrival p {
        font-size: 14px;
    }
    .read_news {
        font-size: 16px;
        width: 100%;
    }
    .wrap-subscribe p {
        text-align: center;
    }
    .copyright {
        padding: 30px 0 30px 0;
    }
    .wrap-footer-top1 {width: 100%; text-align: center; margin-top: 20px;}
    .wrap-footer-top3 {width: 100%; text-align: center; margin-top: 20px; min-width:unset;}
}



.back {
    display: flex;
}

.wrap-card_main{
    display: flex;
    justify-content: space-between;
}

.wrap-card_main-right {
    width: calc(100% - 429px);
    display: flex;
    justify-content: left;
    margin-left: 45px;
}

.stars {
    display: flex;
}

.star-item {
    background: url("../img/card/star grey.png") no-repeat center center;
    width: 16px;
    height: 15px;
}

.star-item.active {
    background: url("../img/card/star.png") no-repeat center center;
}

.wrap-card-stars {
    display: flex;
}

.wrap-card-price {
    display: flex;
}

.overalls {
    font-size: 25px;
    font-weight: 500;
}

.vendor-code {
    margin-top: 20px;
    font-size: 21px;
}

.star-reviews {
    margin-left: 10px;
    text-decoration: underline;
    color: black;
}

.wrap-card-stars {
    align-items: center;
}

.card_description-wholesale{
    margin: 10px 0;
    color: #f66543;
    font-size: 15px;
}

.price-wholesale{
    font-size: 25px;
    color: #f66543;
}

.price-retail {
    font-size: 25px;
    color: #444444;
}

.card_description-retail{
    margin: 10px 0;
}

.wrap-card-price-right{
    margin-left: 35px;
}

.card_description-title {
    margin-top: 20px;
}

.card_description{
    line-height: 22px;
    font-size: 15px;
    color: #444444;
}

.specifications{
    margin-top: 12px;
    display: flex;
    font-size: 19px;
}

.gray {
    margin-right: 5px;
    color: #444444;
}

.order-click {
    color: #000000;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    background: #f6b932;
    width: 350px;
    height: 56px;
    text-align: center;
    line-height: 59px;
    margin-top: 17px;
}

.wrap-size_availability-title {
    display: flex;
    justify-content: space-between;
}

.wrap-card_main{
    display: flex;
}

.wrap-size_availability-value {
    display: flex;
    justify-content: space-between;
}

.wrap-size_availability {
    width: 46%;
}

.size_availability {
    margin-bottom: 20px;
    position: relative;
}

.size_availability:before{
    content: '';
    position: absolute;
    background: url(../img/1.png) no-repeat top left;
    width: 11px;
    height: 11px;
    left: -37px;
    top: 3px;
}

.size_availability:first-child:before{
    display: none;
}

.in-basket {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    background: #6a46de;
    width: 265px;
    height: 56px;
    text-align: center;
    line-height: 59px;
    margin-top: 13px;
    float: right;
}

.counter input{
    border: 1px solid #dedfe0;
    width: 90px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.counter {
    position: relative;
    margin-bottom: 23px;
}

.minus{
    background: url("../img/card/arrow2.png") no-repeat top center;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}
.plus{
    background: url("../img/card/arrow1.png") no-repeat top center;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.wrap-size_availability {
    margin-top: 85px;
}

.card-title {
    margin: 70px 0;
}

.main-link {
    color: #595a5a;
    padding-bottom: 10px;
}

.back {
    color: #848383;
    padding-bottom: 15px;
}

.main-link a{
    color: #595a5a;
    text-decoration: underline;
}

.orange-text {
    margin-bottom: 30px;
    font-size: 30px;
    color: #f66543;
}
.detailed-description-text{
    font-size: 17px;
    color: #595858;
}
.wrap-detailed-description{
    margin-bottom: 50px;
}

.wrap-stars-second .stars{

}
.user-feedback-top{
    display: flex;
}
.user-data{
    margin-left: 30px;
}

.user-data p {
    font-size: 17px;
    padding-bottom: 6px;
}

.user-feedback-text {
    font-size: 21px;
    border: 1px solid #dedfe0;
    position: relative;
    margin-left: 98px;
    padding: 15px 15px 25px 15px;
}

.user-feedback-text:before {
    content: '';
    position: absolute;
    background: url(../img/card/22.png) no-repeat top left;
    width: 33px;
    height: 27px;
    left: -60px;
    top: -1px;
}

.user-feedback-bottom {
    margin-top: 25px;
}

.leave-feedback-button {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    background: #6a46de;
    width: 265px;
    height: 56px;
    text-align: center;
    line-height: 59px;
    margin-top: 60px;
}

.wrap-reviews{
    margin-bottom: 75px;
}
.wrap-button{
    display: flex;
    justify-content: flex-end;
}
.wrap-slider{
    position: relative;
}
.swiper-slide span{
    padding: 15px 0 5px 0;
    color: #f66543;
    font-size: 17px;
}
.swiper-slide p {
    font-size: 15px;
    line-height: 22px;
}
.recommended-title{
    font-size: 21px;
    color: #f66543;
    margin-bottom: 44px;
}
/*.swiper-button-next-first {*/
    /*background: url(../img/card/26.png);*/
    /*width: 23px;*/
    /*height: 41px;*/
    /*top: 120px;*/
    /*right: -7px;*/
/*}*/
/*.swiper-button-prev-first {*/
    /*background: url(../img/card/25.png);*/
    /*width: 23px;*/
    /*height: 41px;*/
    /*top: 122px;*/
    /*left: -49px;*/
/*}*/
.wrap-recommended-product{
    margin-bottom: 65px;
}

.wrap-all_goods {
    width: 150px;
    line-height: 41px;
    margin-top: 50px;
}

.wrap-products-catalog {
    width: calc(100% - 150px);
}

.wrap-catalog {
    display: flex;
}

.overalls-girls {
    font-size: 25px;
}

.sort {
    display: flex;
}

.wrap-img {
    width: 224px;
    height: 298px;
    padding-bottom: 15px;
}

.wrap-article_star{
    display: flex;
}

.price-catalog {
    color: #f78067;
    padding-bottom: 10px;
}

.wrap-item-title {
    display: flex;
}

.wrap-product_description {
    color: #717070;
}

.star-product.star-reviews  {
    text-decoration: none;
}

.wrap-item-title a {
    color: black;
    padding-bottom: 10px;
}

.wrap-item-favorites {
    padding-left: 24px;
}

.wrap-items {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 240px;

    padding: 20px 5px 20px 5px;

}